@charset "UTF-8";
@import url("../../common.css");
.markdown-transform-html {
    font-size: 14px;
    padding: 30px 45px;
}
.markdown-transform-html h1, .markdown-transform-html h2, .markdown-transform-html h3 {
    color: var(--markdown-primary-bg-color);
    border-bottom: none;
    padding-bottom: 10px;
}
.markdown-transform-html img[alt='个人头像'] {
    width: 22mm;
    height: 27mm;
    border-radius: 5px;
}
.markdown-transform-html strong, .markdown-transform-html b, .markdown-transform-html h4, .markdown-transform-html h5, .markdown-transform-html h6, .markdown-transform-html li::marker {
    color: #333;
}
.markdown-transform-html .resume-module h2 {
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--markdown-primary-bg-color);
    color: var(--markdown-primary-bg-color);
}
